* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#demo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(216, 216, 23);
    border-radius: 10px;
}

button {
    z-index: 9999;
    outline: none;
    width: 100px;
    height: 40px;
    margin: 20px;
    text-align: center;
}

#changetext {
    background-color: rebeccapurple;
    transform: translate(10px, 20px);
    transition: width 2s;
    width: 100px;
}

#changetext:hover {
    width: 200px;
}

@media screen and (max-width:770px) {
    img {
        width: 60px;
        height: 60px;
    }
}
